.my-form {
    display: flex;
    flex-direction: column;
}

.my-form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.my-form-column {
    flex: 1;
    margin: 5px 20px 10px 10px;
    border: 1px solid #dedede;
    padding: 15px
}